.button {
  background-color: var(--tg-theme-button-color);
  color: var(--tg-theme-button-text-color);
  padding: 1rem 2rem;
  min-height: 3.5rem;
  border: none;
  border-radius: 1rem;
  font-size: 1rem;
  display: grid;
  place-items: center;
}
.toncoin {
  background-image: url(/toncoin-bg.svg);
  background-size: 25%;
  background-position: center;
}
