.connect {
  display: grid;
  align-content: center;
  gap: 1rem;
  justify-items: center;
  background-color: hsla(0, 0%, 0%, 0.15);
  /* background-color: var(--tg-theme-secondary-bg-color); */
  border-radius: 1rem;
  padding: 2rem;
}
.connect p {
  text-align: center;
  color: var(--tg-theme-hint-color);
}
