.content {
  display: grid;
  gap: 1rem;
}

.wallet {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: max-content auto;
  align-items: center;
  gap: 2rem;
  padding: 0 2rem;
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  cursor: pointer;
  & > svg {
    filter: grayscale(0.8);
  }
  & .information {
    display: grid;
    gap: 0.5rem;
    font-size: 1.2rem;
    & > div {
      display: grid;
      grid-auto-flow: column;
      grid-template-columns: max-content auto;
      align-items: start;
      color: var(--hint-color);
      gap: 0.5rem;
      font-size: 0.9rem;
    }
  }
}
