.connect {
  padding: 0.6rem 1.5rem;
  position: sticky;
  bottom: -1px;
  &.sticky {
    padding-bottom: calc(0.6rem + 1px);
    background-color: color-mod(var(--tg-theme-bg-color) a(5%));
    backdrop-filter: saturate(110%) blur(0.6rem);
  }
  &.tdesktop {
    background-color: var(--tg-theme-bg-color);
  }
  &:empty {
    padding: 0;
  }
}
.connect a {
  text-decoration: none;
}
.profile {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  min-height: 3.5rem;
  & svg {
    color: var(--tg-theme-hint-color);
  }
}
.information {
  display: grid;
  grid-auto-rows: max-content;
  align-content: center;
  & > div {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  & .dns {
    color: var(--tg-theme-hint-color);
  }
}
.wallet {
  display: grid;
  grid-auto-flow: column;
  grid-auto-rows: max-content;
  gap: 0.5rem;
}
.main {
  display: grid;
}
.footer {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  justify-content: space-between;
  align-items: center;
  color: var(--tg-theme-hint-color);
  padding: 0 1.5rem;
  line-height: 1;
  font-size: 0.8rem;
}
.footer span {
  display: grid;
  grid-auto-flow: column;
  gap: 0.3rem;
  grid-auto-columns: max-content;
  justify-content: center;
  align-items: center;
}
