.profile {
  /* grid-area: profile; */
  padding: 0.6rem 1.5rem;
  position: sticky;
  bottom: -1px;
  &.sticky {
    padding-bottom: calc(0.6rem + 1px);
    /* background-color: hsla(0, 0%, 10%, 0.7); */
    background-color: color-mod(var(--tg-theme-secondary-bg-color) a(70%));
    backdrop-filter: saturate(180%) blur(0.5rem);
  }
}
.profile a {
  text-decoration: none;
}
.main {
  display: grid;
  /* grid-area: main; */
  /* align-items: start; */
  /* grid-auto-rows: max-content; */
}
.footer {
  display: grid;
  /* grid-area: footer; */
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  justify-content: space-between;
  align-items: center;
  color: var(--tg-theme-hint-color);
  padding: 0 1.5rem;
  line-height: 1;
  font-size: 0.8rem;
}
.footer span {
  display: grid;
  grid-auto-flow: column;
  gap: 0.3rem;
  /* grid-auto-columns: auto; */
  grid-auto-columns: max-content;
  justify-content: center;
  align-items: center;
}
