.header {
  padding: 0 1.5rem;
}
.header a {
  text-decoration: none;
}
.main {
  display: grid;
  /* align-items: start; */
  /* grid-auto-rows: max-content; */
}
.footer {
  display: grid;
  grid-auto-flow: column;
  gap: 0.3rem;
  /* grid-auto-columns: auto; */
  grid-auto-columns: max-content;
  justify-content: center;
  align-content: center;
  color: var(--tg-theme-hint-color);
  padding: 0 1.5rem;
  line-height: 1;
}
