.connect {
  display: grid;
  align-content: center;
  justify-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
}
.connect p {
  margin: 0;
  text-align: center;
  color: var(--hint-color);
}
