.connect {
  display: grid;
  align-content: center;
  gap: 1rem;
  justify-items: center;
  padding: 0 2rem;
  border: 1px solid color-mod(var(--tg-theme-hint-color) a(10%));
  border-radius: 1rem;
  box-shadow: 0px 3px 10px 0px color-mod(var(--tg-theme-hint-color) a(10%));
}
.connect p {
  margin: 0;
  text-align: center;
  color: var(--tg-theme-hint-color);
}
